.link-item {
  text-decoration: none;
}

.job-item {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.logo-title-location-container {
  display: flex;
  flex-direction: column;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-heading {
  font-family: Roboto;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}

.rating-container {
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.rating-icon {
  color: #fbbf24;
  font-size: 18px;
  margin-right: 10px;
}

.rating-heading {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.location-package-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.location-employee-container {
  display: flex;
  flex-direction: row;
}

.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  padding-left: 5px;
}

.location-icon {
  color: #ffffff;
  font-size: 22px;
  margin-right: 6px;
}

.location-heading {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
}

.employee-type-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.brief-case-icon {
  color: #ffffff;
  font-size: 22px;
  margin-right: 10px;
}

.employee-type-heading {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
}

.package-heading {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

.line {
  color: #7e858e;
  width: 100%;
}

.job-description-heading {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0px;
}

.job-description {
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
  line-height: 1.8;
}
